<body style="background-color:#f4f4f4;">
	<!--  Header  -->
	<header id="header" class="fixed-top">
		<div class="container d-flex align-items-center">
			<a routerLink="/user" routerLinkActive="active" class="logo mr-auto"><img
					src="assets/images/logo.png" alt="" class="img-fluid"></a>
			<nav class="nav-menu d-none d-lg-block">
				<ul class="align-items-center">
					<li><a><i class="fa fa-bell"></i></a></li>
					<li class="drop-down">
						<a><span class="user-circle"><img class="user_img"
									src="assets/images/logo.png" alt=""></span>
							<span class="u_name ml-1">{{((auth.user | async)?.userFirstName
								+
								' ' + (auth.user | async)?.userLastName) |
								titlecase}}</span></a>
						<ul>
							<li><a>MyProfile</a></li>
							<li><a>Change Password</a></li>
							<li><a (click)="logout()">Logout</a></li>
						</ul>
					</li>
				</ul>
			</nav><!-- .nav-menu -->
			<div
				class="mobiletop nav-menu d-flex d-lg-none align-items-center w-100 justify-content-end pr-2">
				<a class="text-dark mr-3"><i class="fa fa-bell"></i></a>
				<div class="drop-down position-relative">
					<a><span class="user-circle"><img class="user_img"
								src="assets/images/logo.png"></span>
					</a>
					<ul>
						<li><a>My Profile</a></li>
						<li><a>Change Password</a></li>
						<li><a>Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</header><!-- End Header -->
	<router-outlet></router-outlet>
	<!-- Footer -->
	<footer id="footer" class="position-relative">
		<div class="container py-4">
			<div class="text-center">
				<div class="copyright">&copy; 2020 the english monk, All Rights reserved.</div>
			</div>
		</div>
	</footer>
	<!-- End Footer -->
	<a (click)="scrollToTop()" class="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>